* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin-bottom: 20px;
}
body {
  margin: auto;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  justify-content: center;
  padding: 3em;
}

.logo {
  margin: auto;
}

.container {
  padding: 1.7rem;
  background: #ffffff;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  min-width: 450px;
  margin: auto;
}
.container-input-bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: hsl(189, 41%, 97%);
}
/*
.input-bill {
  border: none;
  background: none;
  width: calc(100% - 1rem);
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  text-align: right;
}
*/
.icon-dollar {
  background: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  width: 1rem;
}

.input {
  width: 100%;
  padding: 0.4em;
  border: none;
}

.title {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.select-tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.select-tip-title {
  grid-column: 1 / 3;
}

.btn {
  height: 3em;
  border-radius: 0.5em;
  border: none;
}

.btn-tip {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-size: 24px;
}

.btn-tip:hover {
  background-color: hsl(172, 67%, 45%);
}

.btn-custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  font-size: 24px;
}

.amount-container {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  padding: 1em;
}
.amount-title {
  color: hsl(189, 41%, 97%);
}
.label-color {
  color: hsl(186, 14%, 43%);
  font-weight: bolder;
}
